In [ ]:
#Datset diabetes

In [2]:
import pandas as pd
file_path="C:/Users/PANTANO/Desktop/Data Analyst/LEZIONI/3 Terzo Modulo Python/diabetes.csv"
df = pd.read_csv(file_path)

In [3]:
df.shape

(768, 9)

In [11]:
df.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [5]:
df.dtypes

Number of times pregnant                                                      int64
Plasma glucose concentration a 2 hours in an oral glucose tolerance test      int64
Diastolic blood pressure (mm Hg)                                              int64
Triceps skin fold thickness (mm)                                              int64
2-Hour serum insulin (mu U/ml)                                                int64
Body mass index (weight in kg/(height in m)^2)                              float64
Diabetes pedigree function                                                  float64
Age (years)                                                                   int64
Class variable                                                                int64
dtype: object

In [6]:
df.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
#Stampiamo dei descrittori statistici del dataset
print("I pazienti hanno età media:", round(df['Age (years)'].mean(),2))
print("I pazienti hanno peso medio:", round(df['Body mass index (weight in kg/(height in m)^2)'].mean(),2))
print("I pazienti hanno DAP media:", round(df['Diastolic blood pressure (mm Hg)'].mean(),2))

conteggio=df.iloc[:,8].value_counts()
print(conteggio)

I pazienti hanno età media: 33.24
I pazienti hanno peso medio: 31.99
I pazienti hanno DAP media: 69.11
Class variable
0    500
1    268
Name: count, dtype: int64

In [30]:
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
eta_20=df[df['Age (years)']<=20]
eta_20_30=df[(df['Age (years)']>20) & (df['Age (years)']<30)]
eta_30_40=df[(df['Age (years)']>30) & (df['Age (years)']<40)]
eta_40_50=df[(df['Age (years)']>40) & (df['Age (years)']<50)]
eta_50=df[df['Age (years)']>=50]

In [41]:
print("Media DAP, eta minore di 20 anni:", eta_20['Diastolic blood pressure (mm Hg)'].mean())
print("Media DAP, eta tra 20 e 30 anni:", round(eta_20_30['Diastolic blood pressure (mm Hg)'].mean(),2))
print("Media DAP, eta tra 30 e 40 anni:", round(eta_30_40['Diastolic blood pressure (mm Hg)'].mean(),2))
print("Media DAP, eta tra 40 e 50 anni:", round(eta_40_50['Diastolic blood pressure (mm Hg)'].mean(),2))
print("Media DAP, eta maggiore di 50 anni:", round(eta_50['Diastolic blood pressure (mm Hg)'].mean(),2))

Media DAP, eta minore di 20 anni: nan
Media DAP, eta tra 20 e 30 anni: 65.35
Media DAP, eta tra 30 e 40 anni: 70.37
Media DAP, eta tra 40 e 50 anni: 74.52
Media DAP, eta maggiore di 50 anni: 78.37

In [48]:
bins = [0, 20, 30, 40, 50, float('inf')]  
labels = ['<20', '20-30', '30-40', '40-50', '>50'] 

df['AgeGroup'] = pd.cut(df['Age (years)'], bins=bins, labels=labels, right=False)

media_dap_fascia_eta = df.groupby('AgeGroup', observed=False)['Diastolic blood pressure (mm Hg)'].mean()
print(media_dap_fascia_eta)

AgeGroup
<20            NaN
20-30    65.348485
30-40    69.666667
40-50    73.940678
>50      78.370787
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [44]:
#DAP per ogni anno 
media_dap_eta = round(df.groupby('Age (years)')['Diastolic blood pressure (mm Hg)'].mean(),2)
print(media_dap_eta)

Age (years)
21    65.94
22    63.72
23    64.32
24    64.96
25    59.67
26    64.18
27    73.50
28    68.31
29    68.24
30    64.86
31    64.38
32    70.06
33    65.65
34    74.00
35    75.60
36    69.12
37    75.95
38    71.12
39    72.67
40    69.23
41    67.59
42    73.39
43    78.46
44    61.75
45    83.07
46    76.00
47    78.33
48    78.40
49    81.40
50    78.25
51    84.50
52    81.50
53    79.00
54    89.33
55    70.25
56    76.33
57    76.80
58    78.29
59    74.00
60    80.00
61    76.00
62    71.50
63    78.00
64    78.00
65    78.67
66    86.00
67    72.67
68    82.00
69    81.00
70    82.00
72     0.00
81    74.00
Name: Diastolic blood pressure (mm Hg), dtype: float64